html {
    min-height: 100%;
    position: relative;
}

body {
    width: 100%;
    height: 100%;
    margin-bottom: 65px; /* for footer */
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
    
    background-color: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* Navigation bar */
#navbar {
    display: block;
    width: 100%;
    height: 70px;
    
    padding-left: 150px;
    padding-right: 150px;
}

#navbar p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

#navbar a:hover {
    border-bottom: 3px solid white;
}

#navbar .active {
    border-bottom: 3px solid white;
}

/* Header */
#header h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 500;
}

/* body paragraph style */
#contactme {
    color: white;
    text-align: center;
    font-size: 18px;
    padding-left: 180px;
    padding-right: 180px;
    text-shadow: 0.5px 0.5px #000;
    margin-bottom: 20px;
}

#contactme a {
    color: white;
    text-decoration: none;
}

/* Footer */
#footer {
    height: 65px;
    text-align: center;
    background-color: #37474F;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer .align-right a img {
    margin-right: 20px;
}

#footer .align-right {
    float: right;
}

#footer .align-left {
    float: left;
    font-weight: 500;
    font-size: 18px;
}

/* Mobile device styles */
@media all and (min-width:0px) and (max-width: 768px) {
    
    #navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    #header h1 {
        font-size: 36px;
    }
    
    #navbar p {
        text-align: center;
        margin-top: 20px;
        font-size: 18px;
    }
    
    #footer div {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #contact {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    #contactme {
        padding-left: 50px;
        padding-right: 50px;
    }
}