@font-face {
    font-family: 'Comfortaa';
    src: url('assets/Comfortaa-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

.construction {
    color: white;
    background: #D32F2F;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.construction a, .construction a:hover {
    text-decoration: none;
    color: white;
}

/* Header */
#header {
    position: relative;

    /* https://uigradients.com/#EndlessRiver */
    background: #43cea2;
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);
    background: linear-gradient(to right, #185a9d, #43cea2);

    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
    color: white;
}

.me {
    border: 5px white solid;
}

.first-section {
    margin-top: -30px;
}

#section {
    margin-bottom: 20px;
    
    color: white;
    text-align: center;
    display: block;
    float: none;
    height: 80px;
    
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

/* Main Content */
@media screen and (min-width: 768px) {
    .projects {
        padding-left: 100px;
        padding-right: 100px;
    }
    
    #conjugation .col-sm-2 {
        margin-top: 25px;
    }
    
    #badge {
        text-align: right;
    }
}

.projects {
    margin-bottom: 20px;
    border-bottom: 1.25px solid #ccc;
}

.no-border {
    border-bottom: none;
}

.projects p {
    font-size: 18px;
    text-align: justify;
}

.image-wrap {
    width: 50%;
    margin-right: 20px;
}

.image-wrap-1 {
    width: 50%;
    margin-top: 20px;
    margin-left: 20px;
}

.image-mobile {
    width: 100%;
    margin-bottom: 15px;
}

#contact {
    padding-left: 150px;
    padding-right: 150px;
}

#contact p {
    font-size: 18px;
    text-align: center;
}

/* Footer */
#footer {
    text-align: center;
    background-color: #37474F;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
}

#footer p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer .align-right a img {
    margin-right: 20px;
}

#footer .align-right {
    float: right;
}

#footer .align-left {
    float: left;
    font-weight: 500;
    font-size: 18px;
}

/* Mobile device styles */
@media all and (min-width:0px) and (max-width: 768px) {
    
    #header {
        text-align: center;
    }
    
    .projects {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    #badge {
        text-align: center;
    }
    
    #footer div {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #contact {
        padding-left: 50px;
        padding-right: 50px;
    }
}