html {
    min-height: 100%;
    position: relative;
}

body {
    width: 100%;
    height: 100%;
    margin-bottom: 65px; /* for footer */
    font-family: 'Heebo', sans-serif;
    overflow-x: hidden;
    
    /* https://uigradients.com/#EndlessRiver */
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.row {
    margin-left: 0;
    margin-right: 0;
}

/* Navigation bar */
#navbar {
    display: block;
    width: 100%;
    height: 70px;
    
    padding-left: 250px;
    padding-right: 250px;
}

#navbar p {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

#navbar a:hover {
    border-bottom: 3px solid white;
}

#navbar .active {
    border-bottom: 3px solid white;
}

/* Header */
#header h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 500;
}

/* body paragraph style */
#contactme, #aboutpage {
    color: white;
    text-align: center;
    font-size: 18px;
    padding-left: 180px;
    padding-right: 180px;
    text-shadow: 0.5px 0.5px #000;
    margin-bottom: 20px;
}

#aboutpage p {
    margin-bottom: 20px;
}

#contactme a, #aboutpage a {
    color: white;
    text-decoration: underline;
}

/* Footer */
#footer {
    height: 65px;
    text-align: center;
    background-color: #37474F;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer p {
    margin-top: 20px;
    margin-bottom: 20px;
}

#footer .align-right a img {
    margin-right: 20px;
}

#footer .align-right {
    float: right;
}

#footer .align-left {
    float: left;
    font-weight: 500;
    font-size: 18px;
}

/* Mobile device styles */
@media all and (min-width:0px) and (max-width: 768px) {
    
    #navbar {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    #header h1 {
        font-size: 36px;
    }
    
    #navbar p {
        text-align: center;
        margin-top: 20px;
        font-size: 18px;
    }
    
    #footer div {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #contact {
        padding-left: 50px;
        padding-right: 50px;
    }
    
    #contactme, #aboutpage {
        padding-left: 50px;
        padding-right: 50px;
    }
}